.header{
    background-color: rgba(18, 18, 20, 1);
    color: var(--Color-primary);
    
    width: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem auto;
    margin-top: 6rem;

    button{
        width: 80px;
        height: 40px;
        border-radius: 3px;
        background-color: var(--Grey-3);
        color: var(--Grey-0)
    }

    @media (max-width: 768px){
        max-width: 360px;
        
    }


}

